body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
    color: rgb(24, 147, 255);
}


#projects .card {
    margin-bottom: 10px;
    padding: auto;
    width:auto;
    height: auto;
}

#contact {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

#contact .form-control {
    margin-bottom: 10px;
}
